.gallery {
  display: grid;
  grid-template-columns: repeat(4,300px);
  gap: 20px;
  padding: 20px;
  justify-content:center;
}

.gallery img {
  width: 300px;
  border-radius: 16px;
  height:300px;
  object-fit:cover;
  
}
